$accent-color: #505050;
$secondary-accent-color: #268bd2;
$text-color: #515151;
$highlight-color: #eee;

.sidebar a {
  color: lighten($text-color, 20%);
}

.sidebar-nav-item.active {
  border-left: 0.3rem solid $secondary-accent-color;
}

a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  color: lighten($text-color, 50%);
}